{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-xs-4 aside">
		<img src="/assets/images/business-card.jpeg" class="prof-img">
		{% for snake in snakes %}
			<hr class="style1">
			<div class="featured-item">
				<p>{{snake.title}}, {{snake.morph.name}}</p>
				{% for img in snake.images %}
					<img src="uploads/{{img.filename}}" class="img-thumbnail img-responsive">
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-7" id="home-content">
		<h1 class="page-title">About Me</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non pretium urna. Duis a accumsan lacus. Donec pretium risus eu eros pretium vestibulum. Nullam eu cursus velit, ac ultricies lectus. Etiam facilisis velit vel eros feugiat, eu placerat erat ornare. Aenean sit amet ullamcorper neque. Donec id eleifend elit. Cras a ex id dolor porttitor mollis a sit amet mauris. Fusce ac congue ligula, rhoncus ultricies massa. Nulla sagittis rutrum ornare. Vivamus porta laoreet scelerisque. Integer tellus nunc, faucibus eu laoreet a, placerat vitae eros. Curabitur volutpat neque vel erat iaculis rhoncus. Nulla eu ante volutpat, sagittis purus nec, sodales massa.</p>

		<p>Suspendisse et magna faucibus erat consectetur auctor. Ut fermentum venenatis massa vel lacinia. Donec efficitur arcu et lorem tempor, tempor lacinia purus vestibulum. Curabitur accumsan viverra orci, non sollicitudin justo pharetra dictum. Suspendisse molestie at ante non condimentum. Cras vitae sem sed lectus dictum luctus. Suspendisse sollicitudin semper nisi, vitae consequat mauris efficitur eu. Duis metus diam, bibendum et porta in, aliquam quis felis. Phasellus vitae consequat sapien. Donec elementum, nisi egestas molestie lobortis, felis risus consequat massa, at ullamcorper tortor eros ut mi. Vestibulum id augue lacinia diam laoreet ultricies. Praesent risus ante, mattis congue suscipit ac, laoreet vitae velit. Fusce id fermentum erat, vel consectetur dui.</p>

		<p>Sed neque quam, tempus sit amet aliquet ut, sollicitudin id urna. Pellentesque ac facilisis augue. In at risus at leo mattis maximus et vel lectus. Integer vehicula porttitor nisi, sit amet ultricies metus pulvinar a. Morbi magna ipsum, volutpat eu sem eu, vestibulum scelerisque urna. Proin porttitor orci nec lacus maximus, ac posuere turpis auctor. Integer sed aliquam felis. Maecenas aliquam velit justo, sit amet euismod sapien varius blandit. Sed vitae convallis ex. Praesent a nunc ac ante bibendum lobortis. Duis consequat convallis mauris a facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean gravida, purus in pharetra aliquam, risus orci tempor tortor, vitae venenatis magna odio in elit. Aenean dignissim libero ut purus auctor scelerisque. Vestibulum sit amet elementum mauris.</p>

		<p>Duis porta, risus in convallis mollis, sem mi rhoncus lacus, vitae iaculis nunc libero non quam. Vivamus augue augue, fringilla ut lobortis at, aliquam in justo. Nullam feugiat nisl mauris, eget scelerisque nisi ultrices nec. Morbi nec facilisis libero, quis consectetur libero. Vestibulum sed ex congue, vehicula purus sed, malesuada ante. Proin sollicitudin lectus vel ex ornare varius. Aliquam finibus euismod magna, et sodales leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed bibendum urna ipsum, nec pellentesque augue mollis non. Nulla porttitor volutpat magna, non tristique risus maximus imperdiet. Nam eu urna nunc. Aliquam dictum molestie justo, sit amet volutpat lacus ultrices vel. Mauris ullamcorper metus eget elit efficitur ullamcorper. Phasellus scelerisque lobortis dolor quis volutpat. Duis elit metus, venenatis et purus ut, rhoncus euismod ex.</p>
		<img src="/assets/images/pic.jpg">
	</div>
</div>
<p>adds bio, add FAQ tab, locality page which leads into different morphs</p> 
{% endblock %}
