{% extends "layout.html" %}
{% block body %}
	<div class="row">
		<h1 class="col-xs-offset-5 col-xs-2">Login</h1>
	</div>
	<form method="POST" action="/login">
	    <div class="row">
	    	<div class="col-xs-offset-4 col-xs-4">
				<h3 class="col-xs-offset-5 col-xs-2 text-center">Email</h3>
				<input class="col-xs-offset-2 col-xs-8" name="email" type="email" placeholder="email" />
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-offset-4 col-xs-4">
				<h3 class="col-xs-offset-4 col-xs-2">Password</h3>
				<input class="col-xs-offset-2 col-xs-8" name="password" type="password" placehoder="password" />
			</div>
		</div>
		<br>
		<div class="row">	
			<p><button type="submit" class="col-xs-offset-4 col-xs-4">SUBMIT</button>
	    </div> 
	</form>
	<div class="row">
		<div class="col-xs-offset-5 col-xs-2">
			<a href='/signup'><h3 class="text-center">Create Account</h3></a>
		</div>
	</div>
	<br>
	<br>
	<br>
{% endblock %} 
