{% extends "layout.html" %}
{% block body %}
	<h1 class="page-title">Snakes</h1>
	<hr class="style1">
	<div class="row">
		{% for snake in snakes %}
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 snake">
			<h2><a href="/snake/{{snake.id}}">{{snake.title}}</a></h2>
			<p>{{snake.description}}</p>
			{% for img in snake.images %}
				<p><img height="200" src="/uploads/{{img.filename}}"></p>
			{% endfor %}
			<form method="POST" action="/add-to-cart">
				<input type="hidden" name="snake_id" value="{{snake.id}}" />
				<button type="submit">Add To Cart</button>
			</form>
			<br>
		</div>		
	{% endfor %}
	</div>
{% endblock %}
